@use '../../scss/function' as func;
@use '../../scss/variable' as var;

.home__wrap {
  display: grid;
  justify-content: end;
}

.list__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: func.to-rem(20);
  grid-row-gap: func.to-rem(20);
  padding: func.to-rem(5);
}

.list__card {
  border: var.$border-line;
  box-shadow: var.$border-shadow;
  cursor: pointer;
  line-height: 1.5;

  &:hover {
    box-shadow: var.$light-shadow;
  }
}

.card__img {
  width: 100%;
}
