@use '../../scss/function' as func;
@use '../../scss/variable' as var;

.header__wrap {
  display: grid;
  grid-template-columns: func.to-rem(160) 1fr;
  color: var.$black;
}
// logo
.logo__container {
  padding: func.to-rem(10) 0;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: var.$border-line;
  box-shadow: var.$border-shadow;
  cursor: pointer;
}
.logo__image {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  img {
    position: relative;
    width: func.to-rem(70);
    height: func.to-rem(70);
  }
  &::before {
    content: '';
    position: absolute;
    top: func.to-rem(5);
    left: func.to-rem(32);
    width: func.to-rem(40);
    height: func.to-rem(40);
    border: func.to-rem(6) solid var.$color-primary;
    box-shadow: var.$light-shadow;
  }
}
.logo__title {
  font-size: func.to-rem(24);
  font-weight: bold;
  span {
    color: var.$color-primary;
  }
}
// nav
.nav__container {
  border-bottom: var.$border-line;
  box-shadow: var.$border-shadow;
}
